<div class="row mt-1 position-absolute top-50 start-50 py-2 bg-light">
    <div class="col-12">
        <form class="row g-1" action="/meeting/getpassword" method="post">
            <div class="col-3">
                <div class="dropdown">
                    <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Meeting
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#createMeeting" data-bs-toggle="modal">Create Meeting</a></li>
                        <li><a class="dropdown-item" href="#scheduleMeeting" data-bs-toggle="modal">Schedule Meeting</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <div class="input-group">
                    <input type="text" class="form-control" name="_id">
                    <input type="submit" value="Join" class="btn btn-outline-secondary">
                </div>
            </div>

        </form>
    </div>
</div>