<div class="container-fluid">
    <div class="row">
        <%- include('index/sidenave') %>
            <div class="col-md-10">
                <%- include('index/result') %>
            </div>
    </div>
</div>