<form class="row border w-75 p-3 g-3 rounded mt-3">
    <div class="col-md-12">
        <label for="question" class="form-label">Question</label>
        <input type="text" class="form-control" id="question">
    </div>
    <div class="col-md-6">
        <label for="option1" class="form-label">Option 1</label>
        <input type="text" class="form-control" id="option1">
    </div>
    <div class="col-md-6">
        <label for="option2" class="form-label">Option 2</label>
        <input type="text" class="form-control" id="option2">
    </div>
    <div class="col-md-6">
        <label for="option3" class="form-label">Option 3</label>
        <input type="text" class="form-control" id="option3">
    </div>
    <div class="col-md-6">
        <label for="option4" class="form-label">Option 4</label>
        <input type="text" class="form-control" id="option4">
    </div>
    <div class="col-md-12">
        <label for="inputState" class="form-label">Answer</label>
        <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
    </div>
    <div class="col-12 mt-2">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>