<table class="table table-striped border">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Question Attempt</th>
            <th scope="col">Question Right</th>
            <th scope="col">Time Taken</th>
            <th scope="col">Total Quetion</th>
            <th scope="col">Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Rampravesh Yadav</td>
            <td>9</td>
            <td>9</td>
            <td>3:30min</td>
            <td>10</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Rampravesh Yadav</td>
            <td>9</td>
            <td>9</td>
            <td>3:30min</td>
            <td>10</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Rampravesh Yadav</td>
            <td>9</td>
            <td>9</td>
            <td>3:30min</td>
            <td>10</td>
            <td>9</td>
        </tr>
    </tbody>
</table>