<div class="col-md-2 d-none d-md-block position-sticky vh-100 zindex-fixed shadow-lg bg-light">
    <ul class="nav flex-column mt-5 nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/meeting">Meeting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/test">Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/question">Question</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/result">Result</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" data-bs-toggle="pill">Settings</a>
        </li>
    </ul>
</div>