<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onclassroom</title>
    <script src="https://kit.fontawesome.com/611f1eef1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/meetingpage.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/mediasoup-client.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" integrity="sha384-DkkWv9oJFWLIydBXXjkBWnG1/fuVhw8YPBq37uvvD6WSYRFRqr21eY5Dg9ZhmWdy" crossorigin="anonymous"></script>

    <script>
        const roomId = "<%= roomId %>";
        const myName = "<%=user.first_name%>" + " " + "<%=user.last_name%>"
    </script>
</head>

<body>

    <div class="container-fluid px-0">
        <div class="row m-0 g-0">
            <div class="col">
                <div class="row">
                    <div class="col my-0 position-relative" id="spotlight">
                        <video id="videoid" autoplay></video>
                        <div class="toast-container position-absolute bottom-0 end-0">
                            <div class="toast" role="alert" id="connected" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-none" id="sidebars">

                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-3 d-none g-0 h-100" id="sidebar">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#chat_window" type="button" role="tab" aria-controls="home" aria-selected="true">Chat</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#participants_window" type="button" role="tab" aria-controls="profile" aria-selected="false">Participants</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#file_window" type="button" role="tab" aria-controls="contact" aria-selected="false">Files</button>
                    </li>
                </ul>
                <div class="tab-content position-relative" id="nav-tabContent">
                    <div class="tab-pane fade" id="chat_window" role="tabpanel" aria-labelledby="chat">
                        <div class="main__chat__window" id="main__chat__window">
                            <ul class="messages" id="all_messages"></ul>
                        </div>
                        <div class="main__message_container postion-absolute bottom-0">
                            <input type="text" class="text-secondary" id="chat_message" placeholder="Type message here.." />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="participants_window" role="tabpanel" aria-labelledby="participants">
                        <div class="main__participants__window" id="main__participants__window">
                            <ul class="messages text-primary" id="all_participants"></ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="file_window" role="tabpanel" aria-labelledby="participants">
                        <div class="main__chat__window" id="main__file__window">
                            <ul class="messages" id="all_files"></ul>
                        </div>
                        <div class="input-group mt-3 main_message_container">
                            <input class="form-control" type="file" onchange="selectfile(event)" id="formFile">
                            <button class="input-group-text" id="fileSubmit"><i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 g-0">
            <div class="col-12">
                <nav class="navbar navbar-expand p-0 m-0 navbar-light bg-light">
                    <div class="container-fluid">
                        <ul class="navbar-nav mr-0 mb-2 mb-lg-0">
                                <li class="nav-item">
                                        <div class="dropdown dropup">
                                            <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                          
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                              <li><a class="dropdown-item" id="endMeeting" href="#">End Meeting</a></li>
                                            </ul>
                                          </div>
                                    </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#setting" id="settings" data-bs-toggle="modal" data-bs-toggle="tooltip" data-bs-placement="top" title="Setting">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                            
                        </ul>
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div class="nav-link" id="recording" data-bs-toggle="tooltip" data-bs-placement="top" title="Recording...">
                                    <i class="fa fa-play-circle-o"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" id="screenShare" onclick="screenShare()" data-bs-toggle="tooltip" data-bs-placement="top" title="Share screen">
                                    <i class="fa fa-tv"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" id='participants' onclick="ShowParticipants(this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Participants">
                                    <i class="fa fa-users"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" id="chat__Btn" onclick="ShowChat(this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Message">
                                    <i class="fa fa-comment"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" id="lockButton" data-bs-toggle="tooltip" data-bs-placement="top" title="Lock room">
                                    <i class="fa fa-unlock-alt"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" id="joinButton" data-bs-toggle="tooltip" data-bs-placement="top" title="Join">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-0 mb-lg-0">
                            <li class="nav-item">
                                <div class="nav-link" aria-current="page" id="muteButton" onclick="muteUnmute()" data-bs-toggle="tooltip" data-bs-placement="top" title="Mute">
                                    <i class="fa fa-microphone"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link text-danger" id="leave_meeting" data-bs-toggle="tooltip" data-bs-placement="top" title="Leave meeting">
                                    <i class="fa fa-phone fa-rotate-90"></i>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link" id="playPauseVideo" onclick="playStop()" data-bs-toggle="tooltip" data-bs-placement="top" title="Pause video">
                                    <i class="fa fa-video"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="setting" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Setting</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#video" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Video</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#audio" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Audio</buttona>
                          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#general" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">General</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="video" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <div class="mb-3">
                                    <label>Cameras</label>
                                    <select class="form-select" id="videoDevices">
                                     
                                      </select>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="mb-3">
                                    <label>Microphone</label>
                                    <select class="form-select" id="audioDevices">
                                      </select>
                                </div>
                                <div class="mb-3">
                                    <label>Speakers</label>
                                    <select class="form-select" id="speakers">
                                    </select>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <div class="mb-3">
                                    <label for="floatingInput">Layout</label>
                                    <select class="form-select" id="layout">
                                        <option selected value="auto">Auto</option>
                                        <option value="spotlight">Spotlight</option>
                                        <option value="sidebars">Sidebar</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-5 mb-5">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confim" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/controls.js"></script>
    <script src="/js/mediasoupapp.js"></script>
    <script src="/js/room.js"></script>
    <script src="/js/adminControll.js"></script>


</body>

</html>

</html>