
<form [formGroup]='account'>
  <mat-form-field class="w-100 mt-1">
    <input matInput formControlName='username' placeholder="Username" [errorStateMatcher]="matcher">
    <mat-error *ngIf="username.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mt-1">
    <input type="password" formControlName='password' matInput placeholder="Your password" [errorStateMatcher]="matcher">
    <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Password should be minimum 8 character long
        </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [mat-dialog-close]="account.value">Login</button>
</form>