.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
}
.questionButton{
  margin: 5px;
}
.saveButton{
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
