<form [formGroup]='form'>
    <mat-form-field class="w-100 mt-1">
      <input formControlName='meeting_id' matInput placeholder="Meeting id" readonly/>
    </mat-form-field>

    <mat-form-field class="w-100 mt-1">
        <input 
          type="password" 
          formControlName='meeting_password' 
          matInput placeholder="Confirm new password" />
    </mat-form-field>
  
    <button 
      mat-raised-button 
      *ngIf="form.get('meeting_password').value" 
      [mat-dialog-close]="form.value" color="primary">
      Confirm
    </button>
</form>