<div class="grid-container">
  <h1 class="mat-h1">Profile</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Profile
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button (click)='formEdit()' mat-menu-item>Edit</button>
              <button (click)="save(form.value)" mat-menu-item>Save</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
            <form class="example-form" [formGroup]='form'>
                <table class="example-full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="example-full-width">
                    <input formControlName='first_name' matInput placeholder="First name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="property('first_name').hasError('required')">
                      First name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field></td>
                  <td><mat-form-field class="example-full-width">
                    <input formControlName='last_name' placeholder="Last Name" matInput [errorStateMatcher]="matcher">
                    <mat-error *ngIf="property('last_name').hasError('required')">
                      Last name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field></td>
                </tr></table>
              
                <p>
                  <mat-form-field class="example-full-width">
                    <input  formControlName='email' type="email" placeholder="Email" matInput [errorStateMatcher]="matcher">
                    <mat-error *ngIf="property('email').hasError('email') && !property('email').hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="property('email').hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input formControlName='username' placeholder="Username" matInput [errorStateMatcher]="matcher">
                    <mat-error *ngIf="property('username').hasError('required')">
                      Username is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </p>
              </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
