<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile  colspan="2" rowspan="1">
        <mat-card class="dashboard-cards">
          <mat-card-header>
            <mat-card-title>
              <button (click)='createPaper()' mat-raised-button color="primary" class="meeting-buttons" aria-label="Toggle menu">
                Create Paper
              </button>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
<h1 *ngIf="papers" class="mat-h1">Papers</h1>
<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile *ngFor="let paper of papers;index as i" colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{paper.title}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="deletePaper(paper._id,i)" mat-menu-item>Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="meeting">
        <h4>Paper Id: <span>{{paper._id}}</span></h4>
        <h4>Time: <span>{{paper.dateTime | date}}</span></h4>
        <h4>Date:<span>{{paper.dateTime | date:'mediumTime'}}</span></h4>
        <h4>Duration:<span>{{paper.duration | number}}</span></h4>
      </mat-card-content>
      <mat-card-actions class="meetingAction">
        <button color="primary" mat-raised-button>Publish</button>
        <button color="primary" (click)='editQuestion(paper._id)' mat-raised-button>Edit Question</button>
        <button color="primary" mat-raised-button>Invigilate</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>
