<form class="example-form w-100" [formGroup]='form'>
  <div class="alert alert-danger" *ngIf="form.get('')"></div>
      <mat-form-field class="w-100 mt-1">
          <input formControlName='first_name' matInput placeholder="First name" [errorStateMatcher]="matcher">
          <mat-error *ngIf="property('first_name').hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-1">
          <input formControlName='last_name' matInput placeholder="Last name" [errorStateMatcher]="matcher">
            <mat-error *ngIf="property('last_name').hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

  <mat-form-field class="w-100 mt-1">
    <input formControlName='email' matInput placeholder="Email" [errorStateMatcher]="matcher">
    <mat-error *ngIf="property('email').hasError('email') && !property('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="property('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100 mt-1">
    <input formControlName='username' matInput placeholder="Username" [errorStateMatcher]="matcher">
    <mat-error *ngIf="property('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
  </mat-form-field>
      <mat-form-field class="w-100 mt-1">
          <input formControlName='password' type="password" matInput placeholder="Your password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="property('password').hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="property('password').hasError('minlength') && !property('password').hasError('required')">
                Password should be minimum 8 character long
              </mat-error>
        </mat-form-field>

  <button mat-raised-button color="primary" [mat-dialog-close]="form.value">Submit</button>
  <button mat-raised-button class="ml-3" color="primary" [mat-dialog-close]="">Cancel</button>
</form>

  