<section>
        <div class="button-row1">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>mic_none</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" class="myfab" aria-label="Example icon button with a bookmark icon">
                <mat-icon>call_end</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>videocam</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="button-row2">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>play_circle_outline</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" class="myfab" aria-label="Example icon button with a bookmark icon">
                <mat-icon>screen_share</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" class="myfab" aria-label="Example icon button with a bookmark icon">
                <mat-icon>chat_bubble_outline</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" class="myfab" aria-label="Example icon button with a bookmark icon">
                <mat-icon>people_outline</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>lock_open</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="button-row3">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>security</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>settings</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" class="myfab" aria-label="Example icon button with a bookmark icon">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </div>
        </div>
</section>